/****************************
  variable
*****************************/

// color
$black: #000;
$white: #fff;
$blue: #2775f6;
$darkgray: #aaa;



/****************************
  mixin
*****************************/

// wrap
@mixin wrap {
  width: 100%;
}

// inner
@mixin inner {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

// image_text
@mixin image_text {
  font-size: 0;
  line-height: 0;
}

// image_center
@mixin image_center {
  margin-left: auto;
  margin-right: auto;
}

// w_100
@mixin w_100 {
  width: 100%;
  height: auto;
}

// h_100
@mixin h_100 {
  width: auto;
  height: 100%;
}

// letter-spacing
@mixin ls {
  letter-spacing: .05em;
}


// transition
@mixin transition {
  transition: all .2s linear;
}