/**************************** variable
*****************************/
/**************************** mixin
*****************************/
/**************************** sp
*****************************/
.sp { display: none !important; }

body { /* min-width: 1000px; */ }

/**************************** login
*****************************/
.wrapper.login { height: 100%; position: relative; }

.login { display: block; margin: 0 auto; width: 440px; top: 50%; left: 0; right: 0; position: absolute; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); transform: translateY(-50%); /* .logo */ /* .form__wrapper */ }
.login .logo { display: block; width: 100%; }
.login .logo figure { margin: 0 auto; width: 290px; height: 87px; }
.login .logo figure img { width: 100%; height: auto; }
.login .form__wrapper { margin-top: 89px; }
.login .form__wrapper .input { position: relative; margin: 0 auto; padding: 0 15px 10px; box-sizing: border-box; }
.login .form__wrapper .input figure { display: inline-block; width: 27px; height: 27px; }
.login .form__wrapper .input figure img { width: 100%; height: auto; }
.login .form__wrapper .input input { position: absolute; top: 0; left: 57px; width: 100%; width: 368px; padding-right: 15px; background: transparent; border: 0; text-align: center; color: #2775f6; font-family: 'Roboto'; font-size: 21px; line-height: 27px; letter-spacing: 0.02em; box-sizing: border-box; }
.login .form__wrapper .input.user { position: relative; color: #2775f6; border-bottom: 2px solid #2775f6; }
.login .form__wrapper .input.password { margin-top: 45px; border-bottom: 2px solid #aaa; }
.login .form__wrapper .input.password input { color: #aaa; }
.login .form__wrapper .btn--wrapper { margin-top: 40px; transition: all .2s linear; }
.login .form__wrapper .btn--wrapper:hover { opacity: .7; }
.login .form__wrapper .btn--wrapper .btn--login { display: block; width: 100%; padding: 15px 0; background: #2775f6; text-align: center; color: #fff; font-size: 18px; line-height: 1.9; letter-spacing: 0.02em; border: 0; border-radius: 50px; box-shadow: 0px 4px 8px 0px rgba(31, 23, 20, 0.12); }
.login .form__wrapper .loggedinbox { display: table; width: 100%; margin-top: 20px; text-align: center; }
.login .form__wrapper .loggedinbox .checkbox__label { margin-left: 12px; display: inline-block; vertical-align: middle; font-size: 15px; line-height: 29px; letter-spacing: 0.02em; }

/* .login */
select { -webkit-appearance: button; -webkit-border-radius: 2px; -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); -webkit-padding-end: 20px; -webkit-padding-start: 2px; -webkit-user-select: none; background-image: url("./../images/icons/icon_arrow_down_black.png"); background-position: 92% center; background-repeat: no-repeat; background-size: 12px; border: 1px solid #AAA; color: #555; font-size: inherit; overflow: hidden; padding: 5px 10px; text-overflow: ellipsis; white-space: nowrap; }

input[type="text"] { font-size: 16px; text-indent: 12px; }

/**************************** FOOTER
*****************************/
footer { width: 100%; }
footer.footer--login { position: fixed; bottom: 0; }
footer .footer__inner { margin: 0 auto 15px; text-align: center; letter-spacing: 0.02em; }
footer .footer__inner .forgotpw { margin: 15px auto 15px; font-size: 15px; }
footer .footer__inner .forgotpw a { color: #2775f6; }
footer .footer__inner .forgotpw a:hover { opacity: .7; }
footer .footer__inner .copyright { margin: 40px auto 0; font-family: 'Roboto'; color: #666666; font-size: 12px; }

/**************************** SIDEBAR
*****************************/
aside#navi { width: 240px; height: 100%; position: fixed; display: inline; float: left; background: #191f28; color: #fff; overflow-y: auto; /* nav */ }
aside#navi nav { /* ul */ }
aside#navi nav ul { margin-top: 80px; /* li */ /* li.dropdown */ }
aside#navi nav ul li { transition: all .2s linear; }
aside#navi nav ul li a { display: block; padding: 25px 40px; color: #fff; text-decoration: none; position: relative; }
aside#navi nav ul li a img { transition: all .2s linear; margin-right: 7px; display: inline-block; vertical-align: middle; }
aside#navi nav ul li a p { transition: all .2s linear; display: inline-block; vertical-align: middle; font-size: 16px; line-height: 1.2; }
aside#navi nav ul li a:hover img, aside#navi nav ul li a:hover p { opacity: 0.8; }
aside#navi nav ul li.active a { background: #1c3051; }
aside#navi nav ul li.dashboard img { width: 20px; height: 18px; }
aside#navi nav ul li.page img { width: 20px; height: 20px; }
aside#navi nav ul li.form img { width: 20px; height: 20px; }
aside#navi nav ul li.design img { width: 21px; height: 21px; }
aside#navi nav ul li.analytics img { width: 19px; height: 16px; }
aside#navi nav ul li.list img { width: 19px; height: 12px; }
aside#navi nav ul li.settings img { width: 21px; height: 21px; }
aside#navi nav ul li.dropdown { position: relative; }
aside#navi nav ul li.dropdown.js-dropdown .submenu { display: block; }
aside#navi nav ul li.dropdown.js-dropdown .dropdownBtn a span { background: url("../images/icons/icon_arrow_up_white.png"); background-size: 100% auto; }
aside#navi nav ul li.dropdown .dropdownBtn { width: max-content; display: block; position: absolute; top: 8px; right: 0; }
aside#navi nav ul li.dropdown .dropdownBtn a { display: inline-block; width: 11px; vertical-align: middle; }
aside#navi nav ul li.dropdown .dropdownBtn a span { content: ''; display: block; width: 11px; height: 6px; background: url("../images/icons/icon_arrow_down_white.png"); background-size: 100% auto; }
aside#navi nav ul li.dropdown .dropdownBtn a:hover img, aside#navi nav ul li.dropdown .dropdownBtn a:hover p { opacity: 0.8; }
aside#navi nav ul li.dropdown .subicon img { float: right; width: 11px; height: 6px; padding: 15px; margin-top: -8px; margin-right: -12px; }
aside#navi nav ul li.dropdown .subicon.active { display: block; }
aside#navi nav ul li.dropdown .subicon.active { display: block; }
aside#navi nav ul li.dropdown .submenu { display: none; width: 100%; margin-top: 1px; list-style: none; background: none; }
aside#navi nav ul li.dropdown .submenu.active { margin-top: 1px; display: block; z-index: 10; }
aside#navi nav ul li.dropdown .submenu li { padding: 0px; border-bottom: none; background: #191f28; }
aside#navi nav ul li.dropdown .submenu li a { background: #191f28 !important; padding: 25px 25px 25px 75px; }
aside#navi nav ul li.dropdown .submenu li a::after { content: none; }
aside#navi nav ul li.dropdown .submenu li.active a { background: #1c3051 !important; }

/* aside#navi */
/**************************** MAIN
*****************************/
#main { width: calc( 100% - 240px ); min-height: 100vh; display: inline; position: relative; float: right; background: #f8f9fa; }
#main.user { width: 100%; }
#main header { padding: 17px 50px; display: block; background: #fff; border-bottom: 1px solid #e5e5e5; }
#main header .logo { display: inline-block; width: 140px; height: 42px; transition: all .2s linear; }
#main header .logo:hover { opacity: .7; }
#main header .logo a { display: block; }
#main header .logo a img { width: 100%; height: auto; }
#main header .logout { float: right; width: 45px; height: 45px; transition: all .2s linear; }
#main header .logout a { display: block; }
#main header .logout a img { width: 100%; height: auto; }
#main header .logout:hover { opacity: .7; }
#main .section { display: block; margin: 20px 50px 0; padding: 25px 0 20px; background: #fff; border-radius: 5px; box-shadow: 0px 2px 6px 0px rgba(31, 23, 20, 0.08); }
#main .section.question, #main .section.padded { padding: 22px 35px !important; }
#main .section#question1 .section__row .buttonContainer a:last-child { display: none !important; }
#main .section.form { padding: 22px 35px !important; }
#main .section.form .section__label.title::before { display: none; }
#main .section.form.addPad { padding: 40px 40px !important; }
#main .section.form.addPad2 { padding: 60px 60px !important; }
#main .section.nobg { background: none; box-shadow: none; border: none; padding: 0; }
#main .section.nobg .section__content:not(:nth-child(1)), #main .section.nobg .section__row:not(:nth-child(1)) { margin-top: 20px; }
#main .section.nosidepad { padding: 16px 0px !important; }
#main .section.page-list { height: 52vh; }
#main .section .section__row { display: block; }
#main .section .section__row:not(:nth-child(1)) { margin-top: 40px; }
#main .section .section__row.addVerticalPadding { padding: 25px 0px; }
#main .section .section__row input[type="number"], #main .section .section__row input[type="text"], #main .section .section__row select { min-width: 180px; padding: 12px 10px; border: 1px solid #e5e5e5; border-radius: 3px; }
#main .section .section__row input[type="text"] { width: 98%; }
#main .section .section__row select { height: 43px; padding: 10px 20px 10px 0; }
#main .section .section__row textarea { width: 100%; height: 500px; padding: 12px; resize: none; border: 1px solid #e5e5e5; border-radius: 3px; box-sizing: border-box; overflow: auto; }
#main .section h3 { font-size: 42px; }
#main .section h3 span { font-size: 60%; }
#main .section .permalink .section__label { padding: 0 35px; display: inline-block; font-size: 16px; font-weight: normal; letter-spacing: 0.02em; }
#main .section .permalink .section__label span { font-size: 80%; }
#main .section .permalink .permalink__Btn { margin-left: 25px; display: inline-block; color: #fff; text-decoration: none; font-size: 16px; }
#main .section .permalink .permalink__Btn p { border: 1px solid #e5e5e5; border-color: #2775f6; border-radius: 20px; padding: 7px 15px; max-width: 150px; text-align: center; color: #fff; background: #2775f6; transition: all 1s ease; }
#main .section .permalink .permalink__Btn p span { font-size: 80%; }
#main .section .permalink .permalink__Btn:hover p { color: #2775f6; background: #fff; }
#main .section .site__preview, #main .section .section__rowPlaceholder { width: 100%; height: 45vh; background: #eee; }
#main .section .section__label { padding: 0 35px; width: max-content; display: inline-block; font-size: 16px; font-weight: 500; letter-spacing: 0.02em; }
#main .section .section__label span { font-size: 80%; }
#main .section .section__label.title { text-align: left; padding: 0; position: relative; cursor: pointer; }
#main .section .buttonContainer { float: right; width: max-content; display: block; position: relative; }
#main .section .buttonContainer a { display: inline-block; width: 25px; vertical-align: middle; }
#main .section .buttonContainer a span { content: ''; display: block; }
#main .section .buttonContainer a span.closeBtn { width: 21px; height: 21px; background: url("../images/icons/icon_close-button.png") no-repeat; background-size: 100% auto; }
#main .section .buttonContainer a span.hide { display: none; }
#main .section .buttonContainer a span.toggleArrow { width: 11px; height: 6px; background: url("../images/icons/icon_arrow_down_black.png") no-repeat; background-size: 100% auto; }
#main .section .buttonContainer a span.toggleArrow.js-toggle--arrow { background: url("../images/icons/icon_arrow_up_black.png") no-repeat; background-size: 100% auto; }
#main .section:nth-of-type(2) { margin-top: 15px; padding: 25px 35px 20px; }
#main .section:nth-of-type(2).nobg { padding: 0px 35px; }
#main .section:nth-of-type(2) .section__label { padding: 0; }
#main .section:nth-of-type(2) .section__label span { margin-left: 20px; }
#main .section:nth-of-type(2) .section__row:not(:nth-child(1)) { margin-top: 32px; }
#main .section .section__subContent { display: inline-block; vertical-align: middle; width: calc(100% - 154px); font-size: 16px; }
#main .section .section__subContent input[type="text"] { width: calc(100% - 35px); min-width: 180px; padding: 12px 10px; border: 1px solid #e5e5e5; border-radius: 3px; }
#main .section .section__subContent:nth-of-type(2) { margin-top: 10px; margin-left: 150px; }
#main .section .section__subContent:nth-of-type(2) .section__checkbox--label { padding: 0 10px; width: max-content; display: inline-block; font-size: 16px; font-weight: normal; letter-spacing: 0.02em; }

.incremental-counter { margin: 0 auto; text-align: center; }
.incremental-counter .num { display: inline-block; position: relative; margin-right: 10px; padding: 28px 0; width: 70px; height: 100px; text-align: center; border: 1px solid #e5e5e5; border-radius: 4px; box-sizing: border-box; }
.incremental-counter .num:last-child { margin-right: 0; }
.incremental-counter .num::before { content: ""; display: block; position: absolute; top: 50%; left: 0; right: 0; height: 1px; background: #eee; width: auto; }
.incremental-counter .num span { position: relative; color: #000; font-family: 'Roboto'; font-size: 60px; font-weight: 300; line-height: 43px; }

.chart { margin-top: 25px; border-top: 1px solid #e5e5e5; }

.section__list .section__listItem { display: block; font-size: 16px; font-weight: 400; line-height: 1; letter-spacing: 0.02em; }
.section__list .section__listItem .section__listItem--title { float: left; width: 50%; }
.section__list .section__listItem .section__listItem--title p { margin-top: 15px; }
.section__list .section__listItem .section__listItem--description { float: right; width: 50%; }
.section__list .section__listItem .section__listItem--description p { margin-top: 15px; float: left; }
.section__list .section__listItem .section__listItem--description .section__listItem--button { float: right; width: 160px; padding: 13px 0; text-align: center; background: #2775f6; color: #fff; border: 1px solid #2775f6; border-radius: 25px; transition: all .2s linear; }
.section__list .section__listItem .section__listItem--description .section__listItem--button:hover { background: #fff; color: #2775f6; }

/* .section__list */
/*********************************
	SECTION CONTENT
**********************************/
.section.form .section__content { display: block !important; height: 100% !important; }

.section__content { display: none; margin-top: 22px; width: 100%; height: 0; overflow: hidden; font-size: 16px; line-height: 1; letter-spacing: 0.02em; transition: all .2s linear; /* .section__content--table */ }
.section__content.js-section__content { height: 100%; }
.section__content.no-top { margin-top: 0px; }
.section__content .section__content--table { display: table; width: 100%; }
.section__content .section__content--table .tr { display: table-row; width: 100%; }
.section__content .section__content--table .tr .th, .section__content .section__content--table .tr .td { display: table-cell; padding-top: 30px; }
.section__content .section__content--table .tr .th.no-top, .section__content .section__content--table .tr .td.no-top { padding-top: 0px; }
.section__content .section__content--table .tr .th { vertical-align: middle; }
.section__content .section__content--table .tr .th:first-child { width: 150px; }
.section__content .section__content--table .tr .td { vertical-align: middle; }
.section__content .section__content--table .tr .td p { display: inline-block; }
.section__content .section__content--table .tr .td p.block { display: block; }
.section__content .section__content--table .tr .td p.small { font-size: 70%; opacity: 0.8; }
.section__content .section__content--table .tr .td p span { font-size: 80%; }
.section__content .section__content--table .tr .td .custom__checkbox + p { margin-left: 5px; vertical-align: middle; }
.section__content .section__content--table .tr .td .row + .row { margin-top: 15px; }
.section__content .section__content--table .tr textarea { width: 100%; height: 90px; padding: 12px; resize: none; border: 1px solid #e5e5e5; border-radius: 3px; box-sizing: border-box; }
.section__content .section__content--table .tr input[type="number"], .section__content .section__content--table .tr input[type="text"], .section__content .section__content--table .tr select { min-width: 180px; padding: 12px 10px; border: 1px solid #e5e5e5; border-radius: 3px; }
.section__content .section__content--table .tr select { margin-top: 10px; margin-left: 15px; height: 43px; padding: 10px 20px 10px 0; text-align: center; text-align-last: center; }
.section__content .section__content--table .tr select.rowSelect { display: block; }
.section__content .section__content--table .tr input[type="text"] { width: 100%; }
.section__content .section__content--table .tr textarea + div { margin-top: 10px; }
.section__content .section__content--table .tr textarea + div p { vertical-align: middle; }

/***************************
	BUTTON CONTAINER
****************************/
.btn__container { margin-top: 25px; }
.btn__container a { transition: all .2s linear; display: block; margin: 0 auto; width: 250px; padding: 15px 0; color: #fff; background: #2775f6; font-size: 18px; line-height: 1; letter-spacing: 0.02em; text-align: center; border: 1px solid #2775f6; border-radius: 50px; }
.btn__container a:hover { background: #fff; color: #2775f6; }

/* btn__container */
.btn__container + footer { margin-top: -15px; }

/***************************
	BREADCRUMBS
****************************/
.breadcrumbs__container { margin: 20px 50px 0; display: block; font-size: 16px; line-height: 1; letter-spacing: 0.02em; /* .breadcrumbs */ /* .breadcrumbs__btnContainer */ }
.breadcrumbs__container .breadcrumbs { float: left; margin-top: 10px; }
.breadcrumbs__container .breadcrumbs li { display: inline; font-weight: 400; }
.breadcrumbs__container .breadcrumbs li a { display: inline-block; color: inherit; transition: all .2s linear; }
.breadcrumbs__container .breadcrumbs li a.active { color: #2775f6; }
.breadcrumbs__container .breadcrumbs li a:hover { opacity: .7; }
.breadcrumbs__container .breadcrumbs li.active { color: #2775f6; }
.breadcrumbs__container .breadcrumbs li + li:before { content: ''; display: inline-block; width: 6px; height: 11px; margin: 0 12px; background: url("../images/icons/icon_arrow_right_black.png") no-repeat; background-size: 100% auto; }
.breadcrumbs__container .breadcrumbs__btnContainer { float: right; }
.breadcrumbs__container .breadcrumbs__btnContainer .bc__button { display: inline-block; width: 160px; padding: 11px 0; background: #2775f6; color: #fff; text-align: center; border-radius: 25px; border: 1px solid #2775f6; box-sizing: border-box; transition: all .2s linear; }
.breadcrumbs__container .breadcrumbs__btnContainer .bc__button:first-child { width: 180px; margin-right: 12px; }
.breadcrumbs__container .breadcrumbs__btnContainer .bc__button .add { display: inline-block; position: relative; margin-right: 5px; width: 15px; height: 15px; }
.breadcrumbs__container .breadcrumbs__btnContainer .bc__button .add::before { content: ''; position: absolute; top: 1px; left: 7px; width: 1px; height: 15px; border-left: 1px solid #fff; }
.breadcrumbs__container .breadcrumbs__btnContainer .bc__button .add::after { content: ''; position: absolute; top: 8px; left: 0; width: 15px; height: 1px; border-top: 1px solid #fff; }
.breadcrumbs__container .breadcrumbs__btnContainer .bc__button:hover { background: #fff; color: #2775f6; }
.breadcrumbs__container .breadcrumbs__btnContainer .bc__button:hover .add::before { border-left: 1px solid #2775f6; }
.breadcrumbs__container .breadcrumbs__btnContainer .bc__button:hover .add::after { border-top: 1px solid #2775f6; }

/******************************
	CUSTOM
	  - checkbox
*******************************/
.custom__checkbox { margin-left: 10px; margin-top: 10px; display: inline-block; vertical-align: middle; }
.custom__checkbox label input[type="checkbox"] { display: none; }
.custom__checkbox label input[type="checkbox"] + span.btn { display: inline-block; width: 15px; height: 15px; border: 1px solid #424242; border-radius: 50%; cursor: pointer; transition: all .2s linear; }
.custom__checkbox label input[type="checkbox"]:checked + span.btn { background: #2775f6; border: 1px solid #2775f6; border-radius: 50%; }
.custom__checkbox label p { margin-left: 10px; display: inline-block; vertical-align: middle; }
.custom__checkbox label p.checked { font-weight: 500; }

.custom__checkbox2 { margin-left: 10px; margin-top: 10px; display: block; vertical-align: middle; }
.custom__checkbox2 label { display: inline-block; }
.custom__checkbox2 label input[type="checkbox"] { display: none; }
.custom__checkbox2 label input[type="checkbox"] + span.btn { display: inline-block; width: 15px; height: 15px; border: 1px solid #424242; border-radius: 50%; cursor: pointer; transition: all .2s linear; }
.custom__checkbox2 label input[type="checkbox"]:checked + span.btn { background: #2775f6; border: 1px solid #2775f6; border-radius: 50%; }
.custom__checkbox2 label p { margin-left: 10px; display: inline-block; vertical-align: middle; }
.custom__checkbox2 label p.checked { font-weight: 500; }

/******************************
	CUSTOM
	  - radio
*******************************/
.custom__radioBtnbox { margin-left: 10px; margin-top: 10px; display: inline-block; vertical-align: middle; }
.custom__radioBtnbox label input[type="radio"] { display: none; }
.custom__radioBtnbox label input[type="radio"] + span.btn { display: inline-block; vertical-align: middle; width: 15px; height: 15px; border: 1px solid #424242; border-radius: 50%; cursor: pointer; transition: all .2s linear; }
.custom__radioBtnbox label input[type="radio"]:checked + span.btn { background: #2775f6; border: 1px solid #2775f6; border-radius: 50%; }
.custom__radioBtnbox label p { margin-left: 10px; display: inline-block; vertical-align: middle; }
.custom__radioBtnbox label p.checked { font-weight: 500; }

.custom__radioBtnbox2 { margin-left: 10px; margin-top: 10px; display: block; vertical-align: middle; }
.custom__radioBtnbox2 label input[type="radio"] { display: none; }
.custom__radioBtnbox2 label input[type="radio"] + span.btn { display: inline-block; vertical-align: middle; width: 15px; height: 15px; border: 1px solid #424242; border-radius: 50%; cursor: pointer; transition: all .2s linear; }
.custom__radioBtnbox2 label input[type="radio"]:checked + span.btn { background: #2775f6; border: 1px solid #2775f6; border-radius: 50%; }
.custom__radioBtnbox2 label p { margin-left: 10px; display: inline-block; vertical-align: middle; }
.custom__radioBtnbox2 label p.checked { font-weight: 500; }

/******************************
	CUSTOM
	  - textfield--between
*******************************/
.custom__textfield { margin-top: 10px; display: block; }
.custom__textfield p { display: inline-block; }
.custom__textfield input[type="text"] { display: inline-block; width: 50px !important; min-width: unset !important; padding: 6px 5px !important; }

/****************************
	TABLE
*****************************/
.table { margin: 0px auto; display: table; text-align: left; border-collapse: collapse; width: 100%; }
.table .tbody .tr { display: block; width: 100%; font-size: 0; line-height: 1; }
.table .tbody .tr .td { display: inline-block; border: 1px solid #eee; }
.table .tbody .tr .td.col-04 { width: calc(25% - 2px); height: 40px; }

/****************************
	TABLE
		-pages
*****************************/
.pages { display: table; text-align: left; border-collapse: collapse; margin: 0px auto; width: 100%; }
.pages .tbody .tr:nth-child(odd) { background-color: #f8f9fa; }
.pages .tbody .tr:nth-child(even) { background-color: #fbfcfd; }
.pages .td { display: inline-block; padding: 10px 0; vertical-align: middle; line-height: 1.5; }
.pages .tr { display: block; }
.pages .thead:not(.all-pages) .td:nth-child(1) { width: calc(35% - 74px); margin-left: 74px; }
.pages .thead .td { padding: 0; }
.pages .tbody { margin-top: 27px; }
.pages .td:nth-child(1) { width: calc(35% - 36px); margin-left: 36px; }
.pages .td:nth-child(1) .checkbox__label { padding: 0px 10px; display: inline-block; vertical-align: middle; font-size: 16px; line-height: 1; }
.pages .td:nth-child(2) { width: 20%; }
.pages .td:nth-child(3) { width: 20%; }
.pages .td:nth-child(4) { width: calc(23% - 36px); margin-right: 36px; text-align: right; }
.pages .trash { text-align: right; transition: all .2s linear; }
.pages .trash:hover { filter: grayscale(100%); }
.pages .trash img { width: 50px; }
.pages .custom__checkbox + .pages__Btn { margin-left: 15px; }
.pages .pages__Btn { width: 150px; display: inline-block; color: #fff; text-decoration: none; font-size: 16px; }
.pages .pages__Btn a { text-decoration: none; font-size: 16px; line-height: 1; }
.pages .pages__Btn a p { border: 1px solid #e5e5e5; border-color: #2775f6; border-radius: 20px; padding: 12px 24px; max-width: 150px; color: #fff; background: #2775f6; text-align: center; transition: all 1s ease; }
.pages .pages__Btn a:hover p { background-color: #fff; color: #2775f6; }
.pages .pages__Btn.black a p { border: 1px solid #000; border-color: #000; color: #fff; background: #000; }
.pages .pages__Btn.black a:hover p { color: #000; background: #fff; }
.pages .pages__Btn.small { width: 120px; }
.pages .pages__Btn.small a p { padding: 8px 18px; max-width: 120px; }

/****************************
	SECTION
		-config
*****************************/
.configNav .td .configNav__item { transition: all .2s linear; text-decoration: none; color: #000; }
.configNav .td .configNav__item:hover { opacity: 0.8; }
.configNav .td .configNav__item p { transition: all .2s linear; padding: 15px 0; }
.configNav .td .configNav__item.active p { border-bottom: 1px solid #444; font-weight: 500; }

.section__config { transition: all .2s linear; display: none !important; opacity: 0; overflow: hidden; /* .breadcrumbs__btnContainer */ }
.section__config.active { display: block !important; }
.section__config.visible { opacity: 1; }
.section__config .section__config--btnContainer { float: right; }
.section__config .section__config--btnContainer .button { display: inline-block; width: 160px; padding: 11px 0; background: #2775f6; color: #fff; text-align: center; border-radius: 25px; border: 1px solid #2775f6; box-sizing: border-box; transition: all .2s linear; }
.section__config .section__config--btnContainer .button:first-child { width: 220px; margin-right: 12px; }
.section__config .section__config--btnContainer .button .add { display: inline-block; position: relative; margin-right: 5px; width: 15px; height: 15px; }
.section__config .section__config--btnContainer .button .add::before { content: ''; position: absolute; top: 1px; left: 7px; width: 1px; height: 15px; border-left: 1px solid #2775f6; }
.section__config .section__config--btnContainer .button .add::after { content: ''; position: absolute; top: 8px; left: 0; width: 15px; height: 1px; border-top: 1px solid #2775f6; }
.section__config .section__config--btnContainer .button:hover { color: #2775f6; background: #fff; }
.section__config .section__config--btnContainer .button:hover .add::before { border-left: 1px solid #fff; }
.section__config .section__config--btnContainer .button:hover .add::after { border-top: 1px solid #fff; }
.section__config .section__configInner { padding: 20px 0px; margin-top: 22px; width: 100%; overflow: hidden; font-size: 16px; line-height: 1; letter-spacing: 0.02em; }
.section__config .section__configInner input[type="number"], .section__config .section__configInner input[type="text"], .section__config .section__configInner select { min-width: 180px; padding: 12px 0px; border: 1px solid #e5e5e5; border-radius: 3px; }
.section__config .section__configInner select { padding: 10px 20px 10px 0; height: 43px; text-align: center; text-align-last: center; }
.section__config .section__configInner.top-border { border-top: #bbb solid 1px; }
.section__config .section__configInner .configButton { display: inline-block; width: 160px; padding: 11px 0; background: #2775f6; color: #fff; text-align: center; border-radius: 25px; border: 1px solid #2775f6; box-sizing: border-box; transition: all .2s linear; }
.section__config .section__configInner .configButton:hover { color: #2775f6; background: #fff; }
.section__config .section__configInner input[type="text"] { width: 100%; }
.section__config .section__configInner .section__configRow { margin-top: 20px; width: 100%; max-width: 1100px; display: block; }
.section__config .section__configInner .section__configRow.labelTop { margin-top: 20px; }
.section__config .section__configInner .section__configRow.labelTop .section__configCol:not(:first-child) { margin-top: 15px; }
.section__config .section__configInner .section__configRow .section__configCol { display: inline-block; width: 98%; }
.section__config .section__configInner .section__configRow .section__configCol.label { max-width: 250px !important; }
.section__config .section__configInner .section__configRow .section__configCol.txtdel, .section__config .section__configInner .section__configRow .section__configCol.txtadd { margin-left: 12px; max-width: max-content; vertical-align: middle; }
.section__config .section__configInner .section__configRow .section__configCol.txtdel.hide, .section__config .section__configInner .section__configRow .section__configCol.txtadd.hide { display: none; }
.section__config .section__configInner .section__configRow .section__configCol.txtdel a, .section__config .section__configInner .section__configRow .section__configCol.txtadd a { text-decoration: none; color: #000; }
.section__config .section__configInner .section__configRow .section__configCol.txtdel a p, .section__config .section__configInner .section__configRow .section__configCol.txtadd a p { font-size: 32px; line-height: 1.2; }
.section__config .section__configInner .section__configRow .section__configCol.txtbetween { margin: 0 10px; max-width: max-content; }
.section__config .section__configInner .section__configRow .section__configCol.txtfld { max-width: calc(98% - 300px); }
.section__config .section__configInner .section__configRow .section__configCol.short { max-width: 29%; }
.section__config .section__configInner .section__configRow .section__configCol.full { display: block; max-width: 93%; }
.section__config .section__configInner .section__configRow .txtfld { max-width: calc(98% - 350px); }

/****************************
Added by Alvin Generalo
CSS for displaying error messages
*****************************/
div.errors { padding: 10px 40px; margin: 10px 10px; border-radius: 10px; background-color: #f2dede; color: #a94442; font-weight: bold; }

/****************************/

/*# sourceMappingURL=pc.css.map */
